@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
}

.container {
  display: flex;
  width: 100%;
}

.slide {
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
